img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
form {
  text-align: left;
  margin-left: 40%;
  
}

footer {
  margin-left: 50%;
}

body {
  background: url("bk.jpg");
}

button {
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
  height: 40px;
}

#div {
  margin-top: 10%;
  margin-bottom: 20%;
  margin-right:40%;
  margin-left: 40%;
  font-size: 18px;
  border-style: solid;
  padding: 50px;
}