img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
form {
  text-align: left;
  margin-left: 40%;
  
}

footer {
  margin-left: 50%;
}

body {
  background: url("bk.jpg");
}